html {
  /*background: linear-gradient(to bottom, #FBFBFB 50%, #F1F2F2 100%) no-repeat center center fixed;*/
  background-color: #01A5C5
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.outer {
  display: table;
  width: 100%;
  height: 100%;
}
.inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.content {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-top: -120px;
}
.description {
  margin-top: 24px;
}
.description p {
  font-size: 42px;
  color: #FFFFFF;
  font-family: 'Annie Use Your Telescope', cursive;
}

.header {
  position: fixed;
  width: 100%;
}
.header ul {
  margin:5px 0px;
  float:right;
  padding-right: 20px;
}
.header ul li {
  list-style:none;
  float:left;
  padding:8px;
}
li.social {
  float:right;
  width:80px;
  text-align:right;
}

.download-buttons {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
}
.download-buttons a {
  color: #01A5C5;
  font-weight: normal;
}
.download-button {
  display: inline-block;
  width: 170px;
  height: 28px;
  margin: 3px;
  margin-top: 10px;
  padding: 12px;
  border-radius: 2px;
  background-color: rgba(255,255,255,0.9);
  vertical-align: middle;
  text-align: left;
  position: relative;
  font-weight: 300;
}
.download-button:hover {
  background-color: rgba(243, 108, 33, 0.9);
  color: #FFFFFF;
}
.download-button .download-text {
  display: block;
  line-height: 1em;
  margin-top: -2px;
  font-size: 13px;
  letter-spacing: 0.01em;
}
.download-button .client-name {
  display: block;
  font-size: 19px;
  margin-top: 4px;
  letter-spacing: normal;
}
.download-button .icon {
  position: absolute;
  right: 12px;
  background-repeat: no-repeat;
  background-position: right top;
  width: inherit;
  height: 30px;
}
.download-button .icon.android {
  background-image: url('../img/google-play.svg');
  background-size: auto 30px;
  top: 11px;
}
.download-button .icon.amazon {
  background-image: url('../img/amazon.svg');
  background-size: auto 30px;
  top: 11px;
}
.download-button .icon.windows {
  background-image: url('../img/windows.svg');
  background-size: auto 30px;
  top: 11px;
}

.download-button:hover .icon.android {
  background-image: url('../img/google-play-white.svg');
}
.download-button:hover .icon.amazon {
  background-image: url('../img/amazon-white.svg');
}
.download-button:hover .icon.windows {
  background-image: url('../img/windows-white.svg');
}

.translate {
  font-size: 18px;
  color: #FFFFFF;
}
.translate a {
  color: #FFFFFF;
}
.translate a:hover {
  opacity: 0.5;
}

.name-change {
  font-size: 18px;
  color: #FFFFFF;
  margin-top: 24px;
}
.name-change a {
  color: #FFFFFF;
}
.name-change a:hover {
  opacity: 0.5;
}

.footer {
  clear: left;
  display: block;
  position: fixed;
  text-align: center;
  font-size: 15px;
  padding-bottom: 20px;
  width: 100%;
  height: 18px;
  left: 0;
  bottom: 0;
}
.footer p {
  float: left;
  margin: 0;
  position: relative;
  color: #FFFFFF;
  top: 0;
  padding-left: 20px;
}
.footer ul {
  float: right;
  list-style: none;
  padding-right: 20px;
}
.footer ul li {
  float: left;
  padding: 0 0 0 20px;
}
.footer ul li a {
  text-decoration: none;
  font-weight: normal;
  color: #FFFFFF;
}
.footer ul li a:hover {
  color: #F36C21;
}
